<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
        name="viewport">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/BaseStyle.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/sweetalert.css">
    <script type="text/javascript" src="/javascript/jquery.1.12.0.min.js"></script>
    <script type="text/javascript" src="/javascript/sweetalert.js"></script>
    <script language="JavaScript" type="text/JavaScript">
        var emailreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
        function switchForm(val){
            if (val == 1){
                document.getElementById("login-login").style.fontSize="30px";
                document.getElementById("login-register").style.fontSize="20px";
                document.getElementById("login-form").style.display="block";
                document.getElementById("register-form").style.display="none";
            } else {
                document.getElementById("login-login").style.fontSize="20px";
                document.getElementById("login-register").style.fontSize="30px";
                document.getElementById("email").value = "";
                document.getElementById("password").value = "";
                document.getElementById("login-form").style.display="none";
                document.getElementById("register-form").style.display="block";
                }
            }
        function login() {
            // 不能为空
            var _form = document.form1;
            if (_form.email.value==""){
                return swal("warning", "Please input email address!", "warning");
            }
            if (_form.password.value==""){
                return swal("warning", "Please input password!", "warning");
            }
            if(!emailreg.test(_form.email.value)) {
                return swal("warning", "Email format is wrong!", "warning");
            }
            $.ajax({
                url: '/login_handler',
                type: 'POST',
                cache: false,
                data: new FormData(document.getElementById("login-form")),
                processData: false,
                contentType: false,
                crossDomain: true
            }).done(function (res) {
                if (res == "1") {
                    window.location.reload()
                } else if (res == 2) {
                    return swal("warning", "Password is wrong!", "warning");
                } else {
                    return swal("warning", "Account is not exists!", "warning");
                }
            }).fail(function (res) {
                return swal("error");
            });
        }
        function register() {
            // 不能为空
            var _form = document.form2;
            if (_form.email.value==""){
                return swal("warning", "Please input email address!", "warning");
            }
            if (_form.password.value==""){
                return swal("warning", "Please input password!", "warning");
            }
            if(!emailreg.test(_form.email.value)) {
                return swal("warning", "Email format is wrong!", "warning");
            }
            return $.ajax({
                url: '/register_handler',
                type: 'POST',
                cache: false,
                data: new FormData(document.getElementById("register-form")),
                processData: false,
                contentType: false,
                crossDomain: true
                }).done(function (res) {
                    if (res == "1") {
                        return swal("success", "Register successfully", "success");
                    } else {
                        return swal("error", "Email Registered", "error");
                    }
                }).fail(function (res) {
                    return swal("error");
                });
            }
    </script>
</head>
<body>
<div>
   <div class="form-div">
       <div class="col-xs-10 col-center-block">
           <h1 class="login-h1"><b>Welcome</b></h1>
           <button class="login-login" id="login-login" onClick="switchForm(1)">Login</button>
           <button class="login-register" id="login-register" onClick="switchForm(2)">Register</button>
           <form id="login-form" name="form1" style="display: block">
              <div class="form-group">
                 <label for="email">Email:</label>
                 <input type="text" class="login-input" name="email" placeholder="Email">
              </div>
              <div class="form-group">
                 <label for="password">Password:</label>
                 <input type="password" class="login-input" name="password" placeholder="Password">
              </div>
              <div class="form-group">
                  <button class="login-button" onclick="login()" type="button">Login</button>
              </div>
           </form>
           <form id="register-form" name="form2" style="display: none" >
              <div class="form-group">
                 <label for="name">Name:</label>
                 <input type="text" class="login-input" id="name" name="name" placeholder="Name" autocomplete="off">
              </div>
              <div class="form-group">
                 <label for="email">Email:</label>
                 <input type="text" class="login-input" id="email" name="email" placeholder="Email" autocomplete="off">
              </div>
              <div class="form-group">
                 <label for="password">Password:</label>
                 <input type="password" class="login-input" id="password" name="password"
                    placeholder="Password" autocomplete="off">
              </div>
              <div class="form-group">
                 <button class="login-button" onclick="register()" type="button">Register</button>
              </div>
           </form>
       </div>
   </div>
</div>
</body>