<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
        name="viewport">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/BaseStyle.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/sweetalert.css">
    <script type="text/javascript" src="/javascript/jquery.1.12.0.min.js"></script>
    <script type="text/javascript" src="/javascript/sweetalert.js"></script>
    <script language="JavaScript" type="text/JavaScript">
        function switchForm(val){
            if (val == 1){
                document.getElementById("login-login").style.fontSize="30px";
                document.getElementById("login-register").style.fontSize="20px";
                document.getElementById("login-form").style.display="block";
                document.getElementById("register-form").style.display="none";
            } else {
                document.getElementById("login-login").style.fontSize="20px";
                document.getElementById("login-register").style.fontSize="30px";
                document.getElementById("email").value = "";
                document.getElementById("password").value = "";
                document.getElementById("login-form").style.display="none";
                document.getElementById("register-form").style.display="block";
                }
            }
        function register() {
            // 不能为空
            var _form = document.form2;
            if (_form.email.value==""){
                return swal("E-mail cannot be null!");
            }
            if (_form.password.value==""){
                return swal("Password cannot be null!");
            }
            return $.ajax({
                url: '/register_handler',
                type: 'POST',
                cache: false,
                data: new FormData(document.getElementById("register-form")),
                processData: false,
                contentType: false,
                crossDomain: true
                }).done(function (res) {
                    if (res == "1") {
                        swal("success", "Register successfully", "success");
                    } else {
                        swal("error", "Email Registered", "error");
                    }
                }).fail(function (res) {
                    swal("error");
                });
            }
    </script>
</head>
<body>
<div>
   <div class="form-div">
       <div class="col-xs-10 col-center-block">
           <h1 class="login-h1"><b>Welcome</b></h1>
           <button class="login-login" id="login-login" onClick="switchForm(1)">Login</button>
           <button class="login-register" id="login-register" onClick="switchForm(2)">Register</button>
           <form id="login-form" name="form1" style="display: block" method="post" action="/login_handler">
              <div class="form-group">
                 <label for="email">Email:</label>
                 <input type="email" class="login-input" name="mail" placeholder="Email">
              </div>
              <div class="form-group">
                 <label for="password">Password:</label>
                 <input type="password" class="login-input" name="pass"
                    placeholder="Password">
              </div>
              <div class="form-group">
              <button class="login-button" type="submit">Login</button>
              </div>
           </form>
           <form id="register-form" name="form2" style="display: none" >
              <div class="form-group">
                 <label for="name">Name:</label>
                 <input type="text" class="login-input" id="name" name="name" placeholder="Name" autocomplete="off">
              </div>
              <div class="form-group">
                 <label for="email">Email:</label>
                 <input type="email" class="login-input" id="email" name="email" placeholder="Email" autocomplete="off">
              </div>
              <div class="form-group">
                 <label for="password">Password:</label>
                 <input type="password" class="login-input" id="password" name="password"
                    placeholder="Password" autocomplete="off">
              </div>
              <div class="form-group">
                 <button class="login-button" onclick="register()" type="button">Register</button>
              </div>
           </form>
       </div>
   </div>
</div>
</body>